
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #DBCCE3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img {
    width: 60%;
}

header div{
    background-color: #D9D9D9;
    position: absolute;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 10rem;
}

header div h1 {
    color: #786E3E;
    position: relative;
    font-size: 9rem;
    font-family:"Style Script";
    opacity: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.8rem;
}

aside {
    background-color: #D4E3CC;
    padding: 2rem 4rem 2rem 4rem;
    font-size: 2.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-family:"Style Script";
    color: #333333;
}

select{
    display: flex;
    margin-right: 7rem;
    border-radius: 2rem;
    border: none;
    background-color: #F6F9F5;
    padding: 1rem 2rem 1rem 2rem;
}

button {
    background-color: #DBCCE3;
    border-radius: 2rem;
    padding: 0 2rem 0.5rem 2rem;
    font-size: 1.8rem;
    border: none;
    font-family: "Aref Ruqaa Ink", serif;
    box-shadow: 0 0.5rem 0 0 #DBB4E3;
    color: #333333;
}

button:focus{
    transform: scale(0.95);
}

button:active {
    transform: scale(0.9);
}

main div{
    background-color: #F6F2F8;
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    font-family: "Alegreya Sans", sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    row-gap: 3rem;
}

.caracteristicas {
    display: flex;
    width: 25%;  
    margin: 2rem;
    padding: 3rem 2rem 3rem 2rem;
    background-color: #F1E4E5;
}

.caracteristicas img {
    width: 50%;
    height: 50%;
}

footer{
    background-color: #DBCCE3;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Aref Ruqaa Ink", serif;
}
