*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #DBCCE3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img {
    width: 60%;
}

header div{
    background-color: #D9D9D9;
    position: absolute;
    opacity: 0.8;
}

header div h1 {
    color: #786E3E;
    padding: 1rem 5rem 1rem 5rem;
    position: relative;
    font-size: 7rem;
    opacity: 2;
}

aside {
    background-color: #D4E3CC;
    padding: 2rem 4rem 2rem 4rem;
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

select{
    display: flex;
    margin-right: 7rem;
}

button{
    background-color: #DBCCE3;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    border: none;
}

main div{
    background-color: #F6F2F8;
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    row-gap: 3rem;
}

.caracteristicas {
    display: flex;
    width: 25%;  
    margin: 2rem;
    padding: 3rem 2rem 3rem 2rem;
    background-color: #F1E4E5;
}

.caracteristicas img {
    width: 18rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #DBCCE3;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
